[servers]
some_server ansible_host=some_server_host_name ansible_user=some_server_user ansible_port=22 ansible_ssh_private_key_file=~/.ssh/id_ed25519_some_server_private_key ansible_ssh_common_args='-o IdentitiesOnly=yes -o ForwardAgent=no -o StrictHostKeyChecking=accept-new'
